@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@media (max-width: 900px) {
  html,
  body {
    margin: 0;
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../media/fondoLogin.jpg");
    background-size: cover;
    background-position: center;
  }
  div#imgForm{
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
  }
  input {
    padding-left: 10px;
    height: 45px;
    width: 225px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
  }
  input.field:focus {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    transition: 0.1s;
  }
  input:focus{
    outline: none;
    transition: 0.1s;
  }
  #login {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
    box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
  }
  #login:active {
    transform: translateY(2px);
    background-color: rgb(172, 172, 172);
  }
  img{
    width: 50%;
  }
  footer a {
    font-weight: 100;
    color: white;
  }
  footer {
    margin-top: auto;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  }
  div#imgLogo{
    display: none;
  }
}
/*pc*/
@media (min-width: 900px){
  html,body{
    margin: 0 auto;
    height: 100%;
  }
  body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../media/fondoLogin.jpg");
    background-size: cover;
  }
  div#imgForm{
    display: none;
  }
  div#imgLogo{
    display: flex;
    justify-content: center;
    width: 900px;
    margin-top: 200px;
  }
  form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
  }
  input{
    padding-left: 10px;
    height: 70px;
    width: 430px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.4em;
  }
  #login{
    cursor: pointer;
    background: white;
    margin-top: 40px;
    font-size: 1.9em;
    transition: .2s;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
    box-shadow: 0px 0px 16px 1px rgba(0,125,255,1);
  }
  #login:hover{
    transition: .2s;
    background: #007DFF;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,1);
  }
  #login::after {
    transition: .2s;
  }
  footer a {
    font-weight: 100;
    color: white;
  }
  footer {
    margin-top: auto;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
  }
  input:focus{
    outline: none;
    transition: 0.1s;
  }
  input.field:focus {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    transition: 0.1s;
  }
}